<link rel='stylesheet' href='/stylesheets/index.css' />
<div class="container">
    <div class="header">
        <h1>Welcome to Disconnect</h1>
        <p>Find the coolest gigs in town</p>
    </div>
    <div class="homepage-selection">
        <div class="selection-artist">
            <a href="/artists">
                <h2>Artists</h2>
            </a>
            <img src="https://images.unsplash.com/photo-1493247035880-efdf55d1cc99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
          <div class="selection-venues">
            <a href="/venues">
                <h2>Venues</h2>
            </a>
            <img src="https://images.unsplash.com/photo-1504704911898-68304a7d2807?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
    </div>
</div>