<div class="container">
    <h1>Welcome to Disconnect</h1>
    <p>Find the coolest gigs in town</p>

    <div>Browse by:</div>
    <div class="inLine">
        <div class="col50">
            <a href="/artists">
                <h2>Artists</h2>
            </a>
            <img src="https://i.insider.com/5b3f9266c05c09a42f8b46f3?width=700&format=jpeg&auto=webp">
        </div>
        <div class="col50">
            <a href="/venues">
                <h2>Venues</h2>
            </a>
            <img src="https://mcdn.wallpapersafari.com/medium/87/97/fyRGp0.jpg">
        </div>
    </div>
</div>
