<h1>Welcome to Disconnect</h1>
<p>Find the coolest gigs in town</p>

<div>Browse by:</div>

<div>
    <a href="/artists">
        <h2>Artists</h2>
    </a>
</div>
<div>
    <a href="/venues">
    <h2>Venues</h2>
</a>

</div>