<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/artists">Artists</a>
    <a href="/venues">Venues</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign-up</a>
    <a href="/logout">logout</a>
    <a href="">Partner Space</a>
    <a href="/myaccount">My Account</a>
  </nav>
</header>

<body>
  {{{body}}}
</body>

</html>