<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Courgette|Lobster&display=swap" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"/>
</head>
<header class="container"> 
  <nav class="nav">
    <ul>
      <li>  <a class="links" href="/">Home</a> </li>
      <li> <a class="links" href="/artists">Artists</a></il> 
      <li><a class="links" href="/venues">Venues</a> </il>  
      <li> <a class="links" href="/login">login</a></il>  
      <li><a class="links" href="/signup">Sign-up</a> </il>  
      <li><a class="links" href="/venues">logout</a></il>  
      <li>  <a href="">Partner Space</a></il> 
    </ul>
  </nav>
</header>
<h3 class="line"> </h3>

<body>
  {{{body}}}
</body>

</html>