<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/layout.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<header class="container">
  <nav class="nav">

    <a class="links" href="/">Home</a>
    <a class="links" href="/artists">Artists</a>
    <a class="links" href="/venues">Venues</a>
    <a class="links" href="/login">login</a>
    <a class="links" href="/signup">Sign-up</a>
    <a class="links" href="/logout">logout</a>
    <a class="links" href="">Partner Space</a>
    <a class="links" href="/myaccount">My Account</a>
  </nav>
</header>
<h3 class="line"> </h3>

<body>
  {{{body}}}
</body>

</html>