* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #F4F7F6;
}

.nav .links {
    text-decoration: none;
    color: #202121;
    padding: 15px;
}

.nav .links:hover {
    color: #F4F7F6;
    background-color: #202121;
}


