<link rel='stylesheet' href='/stylesheets/login/myaccount.css'>
<h1>My Account</h1>

<img id="image" src="img/account.png" alt="">
<div class ="account-detail">
    <p>{{currentuser.name}}</p>
    <p>{{currentuser.surnames}}</p>
    <p>{{currentuser.username}}</p>
    <p>{{currentuser.email}}</p>
</div>