<link rel='stylesheet' href='/stylesheets/login/myaccount.css'>
<h1>My Account</h1>

<img src="img/account.png" alt="">
<div>
    <p> {{currentuser.name}}</p>
    <p>{{currentuser.surnames}}</p>
    <p>{{currentuser.username}}</p>
    <p>{{currentuser.email}}</p>
</div>