<link rel='stylesheet' href='/stylesheets/login/signup.css'>
<div class="signup">

    <h1>Sign Up</h1>
    <h2>Hello Beautiful stranger, tell us more about you!</h2>

    <br>
    {{#if errorMessage }}
    <div>{{ errorMessage }}</div>
    {{/if}}
    <br>


    <form action="/signup" method="POST">
        <ul class="form-style-1">
            <li><label>Full Name
                    <span class="required">*</span>
                </label>
                <input type="text" name="name" class="field-divided" placeholder="First" required />
                <input type="text" name="surname" class="field-divided" placeholder="Last" required />
            </li>
            <li>
                <label>Username <span class="required">*</span></label>
                <input type="text" name="username" class="field-long" required />
            </li>
            <li>
                <label>Email <span class="required">*</span></label>
                <input type="email" name="email" class="field-long" required />
            </li>
            <li>
                <label>User type <span class="required">*</span></label>
                <select id="type" name="type">
                    <option value="Visitor">Simple visitor</option>
                    <option value="Partner">Partner (I own a venue)</option>
                </select>

            </li>
            <li>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" value="1234" required>
                <br>
            </li>
            <li><label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px" required>
                    Remember me
                </label>
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            </li>
            <li>
                <input type="submit" value="Submit" />
            </li>
        </ul>
    </form>
</div>