<link rel='stylesheet' href='/stylesheets/venues/browse.css'/>

<div class="container">
    
  <head>
      <div>
          <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
          <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      </div>
  </head>

  <section>
      <div>
        <h1 class="title">Browse the venues</h1>
      </div>
      <div>
          <a class="btn" href="partner/create-venue"> Add a Venue </a> </button>
        <!-- <a class="btn" href="partner/create-venue/{{id}}"> Add Venue </a> </button> -->
      </div>
  </section> <br>

  <div class="sectionMap">
      <div id="map" class="map"></div>
  </div>

  <script src="/js/map.js"></script>
</div>
