<head>
    <div>
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
        <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
        <style>
            body {
                margin: 50;
                padding: 50;
            }

            #map {
                position: absolute;
                top: 200;
                bottom: 200;
                width: 50%;
                height: 50%;
            }
        </style>
    </div>
</head>

<h1>Browse the venues</h1>
<p>Map of the city goes here</p>

<h2>Select a venue and see the events</h2>

<body>
    <div id="map"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidGhpYmF1bHQtZGVsIiwiYSI6ImNrN3J2ZGFpbzBhMzczb21ycjNtamxjbmEifQ.H4jzajdc30ChH2RYLtkCzQ';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
            center: [2.191063, 41.398460], // starting position [lng, lat]
            zoom: 13 // starting zoom
        });
    </script>
    </body>