<link rel='stylesheet' href='/stylesheets/venues/browse.css' />

<div class="container">

  <head>
    <div>
      <script src="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js"></script>
      <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css" rel="stylesheet" />
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </div>
  </head>

  <section>
    <div>
      <h1 class="title">Browse the venues</h1>
    </div>
    <div>
      <a class="btn" id="add-partner" href="partner/create-venue"> Add a Venue </a> </button>
    </div>
  </section> <br>

  <div class="sectionMap">
    <div id="map" class="map"></div>
  </div>

  <script src="/js/map.js"></script>
</div>


<script>
  //personalize the menu depending on current loggin state
  var x = document.cookie;
  switch (x) {
    case "type=partner":
      break;
    case "type=visitor":
      document.getElementById("add-partner").style.display = "none";
      break;
    default:
      document.getElementById("add-partner").style.display = "none";
  }
</script>