<link rel='stylesheet' href='/stylesheets/{{style}}'/>

<div class="container">
  <h1> All the Events </h1>

  <div>
    <a class="btn" href="/partner/create-event"> Crear Venue </a> </button>
  </div>

  <section class="sectionEvents"> 
      {{#each events}}
          <h1> Title: {{this.name}}</h1>
          <img src="{{this.picture}}"> <br>
          <a href="/venues/tickets/{{this._id}}"> Buy ticket </a>
      {{/each}}
  </section>
</div>