<link rel='stylesheet' href='/stylesheets/{{style}}'/>
<br>
<br>

<section>
    <form action="/venues/event" method="POST">
        <div class="centerText">
          <label for="name">Name </label>
          <input type="text" name="name"/>
        </div>

        <div class="centerText">
          <label for="place"> Place </label>
          <input type="text" name="place"/>
        </div>

        <div class="centerText">
          <label for="description">Description </label>
          <input type="text" name="description"/>
        </div>

         <div class="centerText">
          <label for="date">Date </label>
          <input type="text" name="date"/>
        </div>

        <button type="submit" value="submit">Submit</button>
      </form>
</section>



{{#each artists}}
          <h1> Name: {{this.name}}</h1>
          <img src="{{this.image}}"> <br>
          <!-- <a href="/venues/artists/{{this.spotifyid}}"> Buy ticket </a> -->
{{/each}}