
<link rel='stylesheet' href='/stylesheets/partner/event.css'/>
<br>
<br>

<section>
    <form action="/venues/event" method="POST">
        <div class="centerText">
          <label for="name">Name </label>
          <input type="text" name="name"/>
        </div>

        <div class="centerText">
          <label for="place"> Place </label>
          <input type="text" name="place"/>
        </div>

        <div class="centerText">
          <label for="description">Description </label>
          <input type="text" name="description"/>
        </div>

         <div class="centerText">
          <label for="date">Date </label>
          <input type="text" name="date"/>
        </div>

        <input type="hidden" name="id_venue" value="{{id}}"/>

        <select id="id_artists" name="id_artists" multiple>
          {{#each artists}}
            <option value="{{this.spotifyid}}"> {{this.name}} </option>
          {{/each}} 
        </select>

        <button type="submit" value="submit">Submit</button>
      </form>
</section>



