
<link rel='stylesheet' href='/stylesheets/partner/event.css'>
<br>
<br>

<section class="form">
    <form action="/venues/event" method="POST">
        <div class="centerText firstParam">
          <label class="widthParms" for="name">Name </label>
          <input type="text" name="name"/>
        </div> <br>

        <div class="centerText">
          <label class="widthParms" for="place"> Place </label>
          <input type="text" name="place"/>
        </div> <br>

        <div class="centerText">
          <label class="widthParms" for="description">Description </label>
          <input type="text" name="description"/>
        </div> <br>

         <div class="centerText">
          <label class="widthParms" for="date">Date </label>
          <input type="text" name="date"/>
        </div> <br>

        <input type="hidden" name="id_venue" value="{{id}}"/>

        <select class="selectArtist" id="id_artists" name="id_artists" multiple>
          {{#each artists}}
            <option value="{{this.spotifyid}}"> {{this.name}} </option>
          {{/each}} 
        </select>

        <button class="btnSubmit btn" type="submit" value="submit">Submit</button>
      </form>
</section>



