<br>
<br>

<section>
    <form action="/venues" method="POST">
        <div>
          <label for="name">Name </label>
          <input type="text" name="name"/>
        </div>

        <div>
          <label for="address"> Adress </label>
          <input type="text" name="address"/>
        </div>

        <div>
          <label for="picture">Picture </label>
          <input type="text" name="picture"/>
        </div>

        <div>
          <label for="description">Description </label>
          <input type="text" name="description"/>
        </div>

         <div>
          <label for="id_partner">Id partner </label>
          <input type="text" name="id_partner"/>
        </div>

        <button type="submit" value="submit">Submit</button>
      </form>
</section>