  /*
  .map {
    width: 40%;
  }

  .detailsVenue{
    width: 40%;
    float: right;
    height: 456px;
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 2px solid #000000;
    padding: 10px;
  }

  .sectionEvents{
    width: 48%;
    float: left;
  }
  
  .line {
    height: 3px;
    background-color: black;
  }
  
  .container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .inLine {
    display: flex;
  }
  
  .col50 { 
    width: 50%;
  }
  
  .btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #0099BC;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
  } 

  .title{
      padding: 30px 0px 20px 10px;
  }

  .sectionMap{
      height: 496px;
  }

  .centerText{
      text-align: center;
  }

  */

  .sectionEvents{
    width: 67%;
    border: solid black;
    padding: 10px 46px;
  }

  .title{
    padding: 20px;
  }

  .container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .inLine {
    display: flex;
    line-height: 3em;
    color:black
  }
  
  h4{
    padding-right: 10px;
    width: 150px;
  }

  .btn {
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #0099BC;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-left: auto;
    margin-right: auto;
    margin-left: 40%;
  } 


  body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .black, h4 {
    color: black;
  }

  .number-ticket{
    height: 22px;
    width: 35px;
    padding: 4px;
    margin-top: 9px;
  }
  