<h1>Artist Search</h1>
<h2>Search for your artist</h2>
<div>
  <form action="/artists/search" method="GET">
    <input type="text" id="search" name="search" placeholder="Search an artist" value="Jonathan wilson"><br>
    <input type="submit" value="Search an artist">
  </form>
</div>
<br>
<br>
<br>

<p>List of top 10 popular artists goes here</p>
<ul>
  {{#each artists}}
  <li>{{this.track.artists.[0].name}}</li>
  {{/each }}
</ul>