<h1>Artist Result</h1>

<p>Results of your search, now select the corresponding artist from the list</p>

<ul>
  {{#each results}}
  <li>{{this.name}}</li>
   <a href="details?{{this.id}}">View albums</a>
  {{/each }}
</ul>