<link rel='stylesheet' href='/stylesheets/artists/search.css'>
<h1>Search Result</h1>

<div class="container-artists">

    {{#each results}}
    <div class="gallery">
        <a class="gallery-item" href="details/{{this.id}}">
            <img src="{{this.images.[1].url}}" alt="artist">
            <span class="text-wrapper">
                <span class="name">{{this.name}}</span>
            </span>
        </a>
    </div>
    {{/each }}
</div>