<link rel='stylesheet' href='/stylesheets/artists/results.css'>
<h1>Artist Result</h1>

<p>Results of your search, now select the corresponding artist from the list</p>


{{#each results}}

<br><a href="details/{{this.id}}">{{this.name}}</a>
<br><img src="{{this.images.[1].url}}">
{{/each }}<br>