<h1>Artist Search</h1>
<p>Search bar goes here</p>
<a href="/artists-results">
    <h2>Search for your artist</h2>
</a>

<p>List of top 10 popular artists goes here</p>
<a href="/artist-details">
    <h2>Select any artist from the artist</h2>
</a>