<link rel='stylesheet' href='/stylesheets/artists/search.css'>

<h1>Find the artists you love</h1>
<div>
  <form action="/artists/search" method="GET">
    <input type="text" id="search" name="search" placeholder="Search an artist" value=""><br>
    <input class="btn" type="submit" value="Search">
  </form>
</div>
<br>
<br>
<br>

<h1>Or find new hot artists</h1>
<div class="container-artists">
  {{#each artists}}
  <div class="gallery">
    <a class="gallery-item" href="artists/details/{{this.body.id}}">
      <img src="{{this.body.images.[0].url}}" alt="artist">
      <span class="text-wrapper">
        <span class="name">{{this.body.name}}</span>
      </span>
    </a>

  </div>
  {{/each}}
</div>