<h1>Artist detail</h1>
<p>Some details fetched from the Spotify API</p>
<p>Some songs of the artists you can listen to</p>
<a href="/artist-events">
    <h2>See the next event with this artist</h2>
</a>